In [466]:
import os
import re
import json

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### KJV

In [467]:
df_kjv = pd.read_csv("../data/kjv_clean.csv")

In [468]:
print(df_kjv)

      testament_name   book_name  chapter_number  verse_number  \
0      Old Testament     Genesis               1             1
1      Old Testament     Genesis               1             2
2      Old Testament     Genesis               1             3
3      Old Testament     Genesis               1             4
4      Old Testament     Genesis               1             5
...              ...         ...             ...           ...
31097  New Testament  Revelation              22            17
31098  New Testament  Revelation              22            18
31099  New Testament  Revelation              22            19
31100  New Testament  Revelation              22            20
31101  New Testament  Revelation              22            21

                                              verse_text
0      In the beginning God created the heaven and th...
1      And the earth was without form, and void; and ...
2      And God said, Let there be light: and there wa...
3      And God saw the light, that it was good: and G...
4      And God called the light Day, and the darkness...
...                                                  ...
31097  And the Spirit and the bride say, Come. And le...
31098  For I testify unto every man that heareth the ...
31099  And if any man shall take away from the words ...
31100  He which testifieth these things saith, Surely...
31101  The grace of our Lord Jesus Christ be with you...

[31102 rows x 5 columns]

In [469]:
df_kjv = df_kjv.reset_index(drop=True)

df_kjv['verse_ref'] = df_kjv.apply(
    lambda row: f"{row['book_name']} {row['chapter_number']}:{row['verse_number']}", axis=1
)

In [470]:
df_kjv = df_kjv[["testament_name", 
                "verse_ref", 
                "book_name", 
                "chapter_number", 
                "verse_number", 
                "verse_text"]]

In [471]:
print(df_kjv)

      testament_name         verse_ref   book_name  chapter_number  \
0      Old Testament       Genesis 1:1     Genesis               1
1      Old Testament       Genesis 1:2     Genesis               1
2      Old Testament       Genesis 1:3     Genesis               1
3      Old Testament       Genesis 1:4     Genesis               1
4      Old Testament       Genesis 1:5     Genesis               1
...              ...               ...         ...             ...
31097  New Testament  Revelation 22:17  Revelation              22
31098  New Testament  Revelation 22:18  Revelation              22
31099  New Testament  Revelation 22:19  Revelation              22
31100  New Testament  Revelation 22:20  Revelation              22
31101  New Testament  Revelation 22:21  Revelation              22

       verse_number                                         verse_text
0                 1  In the beginning God created the heaven and th...
1                 2  And the earth was without form, and void; and ...
2                 3  And God said, Let there be light: and there wa...
3                 4  And God saw the light, that it was good: and G...
4                 5  And God called the light Day, and the darkness...
...             ...                                                ...
31097            17  And the Spirit and the bride say, Come. And le...
31098            18  For I testify unto every man that heareth the ...
31099            19  And if any man shall take away from the words ...
31100            20  He which testifieth these things saith, Surely...
31101            21  The grace of our Lord Jesus Christ be with you...

[31102 rows x 6 columns]

In [472]:
# df_kjv.to_csv("../dataset/kjv.csv", index=False)

In [473]:
verse_to_index = {verse: idx for idx, verse in enumerate(df_kjv['verse_ref'])}

In [474]:
verse_to_testament = {verse: testament for verse, testament in zip(df_kjv['verse_ref'], df_kjv['testament_name'])}

### KJV Sites

In [475]:
df_kjv_sites = pd.read_csv("../data/kjv_locs_all.csv")

In [476]:
print(df_kjv_sites)

      book_name  book_number  chapter_number  verse_number  \
0       2 Kings           12               5            12
1       2 Kings           12               5            12
2       2 Kings           12               5            12
3       2 Kings           12               5            12
4       2 Kings           12               5            12
...         ...          ...             ...           ...
17065  1 Samuel            9               9             5
17066  1 Samuel            9               9             5
17067  1 Samuel            9               9             5
17068  1 Samuel            9               9             5
17069  1 Samuel            9               9             5

                                              verse_text name_id_ancient  \
0      Are not Abana and Pharpar, rivers of Damascus,...           Abana
1      Are not Abana and Pharpar, rivers of Damascus,...        Damascus
2      Are not Abana and Pharpar, rivers of Damascus,...         Pharpar
3      Are not Abana and Pharpar, rivers of Damascus,...         Pharpar
4      Are not Abana and Pharpar, rivers of Damascus,...         Pharpar
...                                                  ...             ...
17065  And when they were come to the land of Zuph, S...            Zuph
17066  And when they were come to the land of Zuph, S...            Zuph
17067  And when they were come to the land of Zuph, S...            Zuph
17068  And when they were come to the land of Zuph, S...            Zuph
17069  And when they were come to the land of Zuph, S...            Zuph

      location_id_ancient name_id_modern location_id_modern   latitude  \
0                 aea17b7   Barada River            m39ac0b  33.513542
1                 a69c1d4       Damascus            m878978  33.511112
2                 a8d054a   Barbar River            m3a5cfe  33.416667
3                 a8d054a     Awaj River            m6dfa22  33.313620
4                 a8d054a     Tora River            mf29181  33.540556
...                   ...            ...                ...        ...
17065             a4d0250         Al Ram            m67501d  31.854340
17066             a4d0250    Ramat Rahel            m77f703  31.739901
17067             a4d0250         Rantis            m960e84  32.028056
17068             a4d0250      Beit Rima            mcd60ca  32.032860
17069             a4d0250        Al Bira            mebe332  31.905142

       longitude   global_code  \
0      36.305000  8G5RG874+C26
1      36.306390  8G5RG864+CHR
2      36.133333  8G5RC48M+M88
3      36.055535  8G5R8374+C6V
4      36.353056  8G5RG9R3+66F
...          ...           ...
17065  35.231610  8G3QV63J+PJQ
17066  35.216896  8G3QP6Q8+XQ6
17067  35.019444  8G4Q22H9+6QG
17068  35.102500  8G4Q24M2+4XX
17069  35.214958  8G3QW647+3X4

                                    formatted_address  \
0                           G873+GX9, Damascus, Syria
1      G864+CJ6, Al Kabakbieh Street, Damascus, Syria
2                                C48M+M8 Artoz, Syria
3                           8374+C6 Al-Qleiaah, Syria
4                               G9R3+7H, Irbin, Syria
...                                               ...
17065                                     8G3QV63J+PJ
17066                    P6Q8+XQ Ramat Rachel, Israel
17067                                     8G4Q22H9+6Q
17068                                      Bait Reema
17069                              W647+3VV, Ramallah

                             route       neighborhood  \
0                 جادة بين السورين  Amarah Barraniyah
1              Al Kabakbieh Street       Al-Hamidiyeh
2                   Route Sans Nom                  -
3                   Route Sans Nom                  -
4      Almotahalik Aljanobi Street                  -
...                            ...                ...
17065              Rab'a Al Adawia                  -
17066                 Unnamed Road                  -
17067             Tariaq Bedon Esm                  -
17068                   Bait Reema                  -
17069              Al Alaly Street                  -

       administrative_area_level_2 administrative_area_level_1      locality  \
0                         Damascus        Damascus Governorate      Damascus
1                         Damascus        Damascus Governorate      Damascus
2      Markaz Rif Dimashq District     Rif Dimashq Governorate         Artoz
3                      As-Sanamayn           Daraa Governorate    Al-Qleiaah
4      Markaz Rif Dimashq District     Rif Dimashq Governorate         Irbin
...                            ...                         ...           ...
17065                            -                           -             -
17066                            -          Jerusalem District  Ramat Rachel
17067                            -                           -        Rantis
17068                            -                           -             -
17069                            -                           -      Ramallah

      country
0       Syria
1       Syria
2       Syria
3       Syria
4       Syria
...       ...
17065       -
17066  Israel
17067       -
17068       -
17069       -

[17070 rows x 19 columns]

In [477]:
df_kjv_sites['verse_ref'] = df_kjv_sites.apply(
    lambda row: f"{row['book_name']} {row['chapter_number']}:{row['verse_number']}", axis=1
)

In [478]:
df_kjv_sites.drop(columns=["book_name", "chapter_number", "verse_number", "book_number", "verse_text"], inplace=True)

In [479]:
def get_testament_from_verse_list(verse):
    if verse:
        return verse_to_testament.get(verse, None)
    return None

df_kjv_sites['testament_name'] = df_kjv_sites['verse_ref'].apply(get_testament_from_verse_list)

In [480]:
def clean_text(text):
    if isinstance(text, str):
        text = ''.join([char for char in text if not char.isdigit()])
        return " ".join(text.split())
    return text

df_kjv_sites["name_id_ancient"] = df_kjv_sites["name_id_ancient"].apply(clean_text)
df_kjv_sites["name_id_modern"] = df_kjv_sites["name_id_modern"].apply(clean_text)

In [481]:
df_kjv_sites["country"] = df_kjv_sites["country"].replace("-", "State of Palestine")
df_kjv_sites.replace("-", np.nan, inplace=True)

In [482]:
df_kjv_sites = df_kjv_sites[[
                            "name_id_ancient",
                            "name_id_modern",
                            
                            "latitude",
                            "longitude",
                            
                            "route",
                            "neighborhood",
                            "administrative_area_level_2",
                            "administrative_area_level_1",
                            "locality",
                            "country",
                            
                            "testament_name",
                            "verse_ref"
                            ]]

In [483]:
print(df_kjv_sites)

      name_id_ancient name_id_modern   latitude  longitude  \
0               Abana   Barada River  33.513542  36.305000
1            Damascus       Damascus  33.511112  36.306390
2             Pharpar   Barbar River  33.416667  36.133333
3             Pharpar     Awaj River  33.313620  36.055535
4             Pharpar     Tora River  33.540556  36.353056
...               ...            ...        ...        ...
17065            Zuph         Al Ram  31.854340  35.231610
17066            Zuph    Ramat Rahel  31.739901  35.216896
17067            Zuph         Rantis  32.028056  35.019444
17068            Zuph      Beit Rima  32.032860  35.102500
17069            Zuph        Al Bira  31.905142  35.214958

                             route       neighborhood  \
0                 جادة بين السورين  Amarah Barraniyah
1              Al Kabakbieh Street       Al-Hamidiyeh
2                   Route Sans Nom                NaN
3                   Route Sans Nom                NaN
4      Almotahalik Aljanobi Street                NaN
...                            ...                ...
17065              Rab'a Al Adawia                NaN
17066                 Unnamed Road                NaN
17067             Tariaq Bedon Esm                NaN
17068                   Bait Reema                NaN
17069              Al Alaly Street                NaN

       administrative_area_level_2 administrative_area_level_1      locality  \
0                         Damascus        Damascus Governorate      Damascus
1                         Damascus        Damascus Governorate      Damascus
2      Markaz Rif Dimashq District     Rif Dimashq Governorate         Artoz
3                      As-Sanamayn           Daraa Governorate    Al-Qleiaah
4      Markaz Rif Dimashq District     Rif Dimashq Governorate         Irbin
...                            ...                         ...           ...
17065                          NaN                         NaN           NaN
17066                          NaN          Jerusalem District  Ramat Rachel
17067                          NaN                         NaN        Rantis
17068                          NaN                         NaN           NaN
17069                          NaN                         NaN      Ramallah

                  country testament_name     verse_ref
0                   Syria  Old Testament  2 Kings 5:12
1                   Syria  Old Testament  2 Kings 5:12
2                   Syria  Old Testament  2 Kings 5:12
3                   Syria  Old Testament  2 Kings 5:12
4                   Syria  Old Testament  2 Kings 5:12
...                   ...            ...           ...
17065  State of Palestine  Old Testament  1 Samuel 9:5
17066              Israel  Old Testament  1 Samuel 9:5
17067  State of Palestine  Old Testament  1 Samuel 9:5
17068  State of Palestine  Old Testament  1 Samuel 9:5
17069  State of Palestine  Old Testament  1 Samuel 9:5

[17070 rows x 12 columns]

In [484]:
# df_kjv_sites.to_csv("../dataset/kjv_sites.csv", index=False)

### KJV Events

In [540]:
df_kjv_events = pd.read_csv("../data/events.csv", dtype=str)

In [541]:
print(df_kjv_events)

                               title   ID startDate duration rangeFlag  \
0             Creation of all things    1     -4003       6D       NaN
1           Creation of Adam and Eve    2     -4003       1D       NaN
2                           The Fall    3     -4003       1D   checked
3                   Lifetime of Adam    4     -4003     930Y       NaN
4                    Cain kills Abel    5     -3874       1D       NaN
..                               ...  ...       ...      ...       ...
390  Paul's First Roman imprisonment  385      0060       3Y       NaN
391         Feeding of Five Thousand  393        29       1D       NaN
392             Jesus Walks on Water  394        29       1D       NaN
393            Healing in Gennesaret  396        29       1D       NaN
394             Bread of Life Sermon  397        29       1D       NaN

                  predecessor  lag Lag Type  \
0                         NaN  NaN      NaN
1                         NaN  NaN      NaN
2    Creation of Adam and Eve  NaN      NaN
3    Creation of Adam and Eve  NaN      NaN
4                         NaN  NaN      NaN
..                        ...  ...      ...
390      Paul arrives at Rome  NaN      NaN
391             John Beheaded  NaN      NaN
392  Feeding of Five Thousand  NaN      NaN
393      Jesus Walks on Water  NaN      NaN
394     Healing in Gennesaret  NaN      NaN

                                        partOf  \
0                                          NaN
1    Lifetime of Adam,Creation of Adam and Eve
2                                          NaN
3                                          NaN
4                                          NaN
..                                         ...
390                   Third Missionary Journey
391                                        NaN
392                                        NaN
393                                        NaN
394                                        NaN

                                                verses  \
0    Gen.1.1,Gen.1.2,Gen.1.3,Gen.1.4,Gen.1.5,Gen.1....
1    Gen.2.4,Gen.2.5,Gen.2.6,Gen.2.7,Gen.2.8,Gen.2....
2    Gen.3.1,Gen.3.2,Gen.3.3,Gen.3.4,Gen.3.5,Gen.3....
3                              Gen.5.3,Gen.5.4,Gen.5.5
4    Gen.4.1,Gen.4.2,Gen.4.3,Gen.4.4,Gen.4.5,Gen.4....
..                                                 ...
390  Acts.28.17,Acts.28.18,Acts.28.19,Acts.28.20,Ac...
391  Matt.14.13,Matt.14.14,Matt.14.15,Matt.14.16,Ma...
392  Matt.14.22,Matt.14.23,Matt.14.24,Matt.14.25,Ma...
393  Matt.14.34,Matt.14.35,Matt.14.36,Mark.6.53,Mar...
394  John.6.22,John.6.23,John.6.24,John.6.25,John.6...

                                  people (from verses)  \
0    god_1324,god_1324,holy_spirit_7400,god_1324,go...
1    god_1324,god_1324,god_1324,god_1324,god_1324,g...
2    god_1324,god_1324,god_1324,adam_78,god_1324,ad...
3          adam_78,seth_2504,adam_78,seth_2504,adam_78
4    adam_78,eve_1231,cain_533,god_1324,abel_13,cai...
..                                                 ...
390  paul_2479,moses_2108,god_1324,jesus_905,paul_2...
391  jesus_905,jesus_905,jesus_905,jesus_905,jesus_...
392  jesus_905,jesus_905,jesus_905,peter_2745,jesus...
393                                                NaN
394  jesus_905,jesus_905,jesus_905,jesus_905,god_13...

                                     participants  \
0             god_1324,jesus_905,holy_spirit_7400
1                       adam_78,eve_1231,god_1324
2                       adam_78,eve_1231,god_1324
3                                         adam_78
4                                cain_533,abel_13
..                                            ...
390  paul_2479,luke_1836,demas_1006,epaphras_1195
391              jesus_905,andrew_264,philip_2344
392                          jesus_905,peter_2745
393                                     jesus_905
394                          jesus_905,peter_2745

                                  places (from verses)            locations  \
0                                                  NaN                  NaN
1    eden_354,eden_354,havilah_533,pishon_951,gihon...             eden_354
2                                    eden_354,eden_354             eden_354
3                                                  NaN             eden_354
4                                                  NaN             eden_354
..                                                 ...                  ...
390                            jerusalem_636,judea_657            rome_1013
391  bethsaida_231,sea_of_galilee_1032,sea_of_tiber...        bethsaida_231
392                        bethsaida_231,capernaum_274  sea_of_galilee_1032
393                      gennesaret_458,gennesaret_458       gennesaret_458
394          tiberias_1161,capernaum_274,capernaum_274        capernaum_274

       groups notes verseSort           modified        Sort Key
0         NaN   NaN  01001001  11/25/2020 9:12am  -4002.98998999
1         NaN   NaN  01002004  11/25/2020 9:12am  -4002.98997996
2         NaN   NaN  01003001  11/25/2020 9:12am  -4002.98996999
3         NaN   NaN  01005003  11/25/2020 9:12am  -4002.98994997
4         NaN   NaN  01004001  11/25/2020 9:12am  -3873.98995999
..        ...   ...       ...                ...             ...
390       NaN   NaN  44028017  11/25/2020 9:12am     60.44028017
391       NaN   NaN  40014013   1/16/2023 9:11am     29.40014013
392       NaN   NaN  40014022   1/16/2023 9:16am     29.40014022
393       NaN   NaN  40014034   1/16/2023 1:56pm     29.40014034
394  Apostles   NaN  43006022   1/16/2023 1:59pm     29.43006022

[395 rows x 19 columns]

In [542]:
df_kjv_events = df_kjv_events[["title", "startDate", "duration", "verses"]]

In [543]:
def sort_verses(verse_str):
    return ",".join(sorted(verse_str.split(","), key=lambda x: tuple(map(int, x.split(".")[1:]))))

df_kjv_events['verses'] = df_kjv_events['verses'].apply(sort_verses)

In [544]:
kjv_books_abv = {'GEN': 'Genesis', 
                'EXOD': 'Exodus', 
                'LEV': 'Leviticus', 
                'NUM': 'Numbers', 
                'DEUT': 'Deuteronomy', 
                'JOSH': 'Joshua', 
                'JUDG': 'Judges', 
                'RUT': 'Ruth', 
                '1SAM': '1 Samuel', 
                '2SAM': '2 Samuel', 
                '1KGS': '1 Kings', 
                '2KGS': '2 Kings', 
                '1CHR': '1 Chronicles', 
                '2CHR': '2 Chronicles', 
                'EZR': 'Ezra', 
                'NEH': 'Nehemiah', 
                'EST': 'Esther', 
                'JOB': 'Job', 
                'PSA': 'Psalms', 
                'PRO': 'Proverbs', 
                'ECC': 'Ecclesiastes', 
                'SNG': 'Song of Solomon', 
                'ISA': 'Isaiah', 
                'JER': 'Jeremiah', 
                'LAM': 'Lamentations', 
                'EZEK': 'Ezekiel', 
                'DAN': 'Daniel', 
                'HOS': 'Hosea', 
                'JOEL': 'Joel', 
                'AMOS': 'Amos', 
                'OBAD': 'Obadiah', 
                'JONAH': 'Jonah', 
                'MIC': 'Micah', 
                'NAH': 'Nahum', 
                'HAB': 'Habakkuk', 
                'ZEPH': 'Zephaniah', 
                'HAG': 'Haggai', 
                'ZECH': 'Zechariah', 
                'MAL': 'Malachi', 
                'MATT': 'Matthew', 
                'MARK': 'Mark', 
                'LUKE': 'Luke', 
                'JOHN': 'John', 
                'ACTS': 'Acts', 
                'ROM': 'Romans', 
                '1CO': '1 Corinthians', 
                '2CO': '2 Corinthians', 
                'GAL': 'Galatians', 
                'EPH': 'Ephesians', 
                'PHP': 'Philippians', 
                'COL': 'Colossians', 
                '1TH': '1 Thessalonians', 
                '2TH': '2 Thessalonians', 
                '1TI': '1 Timothy', 
                '2TI': '2 Timothy', 
                'TIT': 'Titus', 
                'PHM': 'Philemon', 
                'HEB': 'Hebrews', 
                'JAS': 'James', 
                '1PE': '1 Peter', 
                '2PE': '2 Peter', 
                '1JN': '1 John', 
                '2JN': '2 John', 
                '3JN': '3 John', 
                'JUD': 'Jude', 
                'REV': 'Revelation'}

In [545]:
def format_verses(verses_str):
    verse_list = verses_str.split(',')
    formatted_verses = []
    
    for verse in verse_list:
        parts = verse.split('.')
        if len(parts) == 3:
            book_abv, chapter, verse_num = parts
            book_abv = book_abv.upper()
            # if book_abv in kjv_books_abv:
            formatted_verses.append(f"{kjv_books_abv[book_abv]} {chapter}:{verse_num}")
    
    return formatted_verses


df_kjv_events["verses_ls"] = df_kjv_events["verses"].apply(format_verses)
df_kjv_events.drop(columns=['verses'], inplace=True)

In [546]:
def group_verses(verses):
    """
    Given a list of verses (as strings), group them into lists where
    each verse is consecutive to the previous one (i.e. its index in df_kjv is one more).
    """
    groups = []
    current_group = []
    for v in verses:
        if not current_group:
            current_group.append(v)
        else:
            prev_v = current_group[-1]
            if verse_to_index.get(v, -1) == verse_to_index.get(prev_v, -2) + 1:
                current_group.append(v)
            else:
                groups.append(current_group)
                current_group = [v]
    if current_group:
        groups.append(current_group)
    return groups


df_kjv_events['verses_lss'] = df_kjv_events['verses_ls'].apply(group_verses)

In [547]:
df_kjv_events.drop(columns=['verses_ls'], inplace=True)
df_kjv_events.rename(columns={'verses_lss': 'verse_ref_ls_ls',
                            'startDate': 'start_date'}, inplace=True)

In [548]:
def get_testament_from_verse_list(verse_list):
    """
    Given a list of verse references, return the testament name for the
    first (i.e. minimum) verse in that list.
    """
    if verse_list:
        first_verse = verse_list[0][0]
        return verse_to_testament.get(first_verse, None)
    return None

df_kjv_events['testament_name'] = df_kjv_events['verse_ref_ls_ls'].apply(get_testament_from_verse_list)

In [549]:
def process_start_date(value):
    value = str(value)
    if '-' in value and len(value) > 5:
        year = value.split('-')[0]
    else:
        year = value
    return int(year)

df_kjv_events['start_year'] = df_kjv_events['start_date'].apply(process_start_date)
df_kjv_events.drop(columns=['start_date'], inplace=True)

In [550]:
def get_largest_duration(duration):
    unit_order = ['Y', 'M', 'W', 'D']
    
    matches = re.findall(r'(\d*\.?\d+)([YMWD])', duration)
    
    for unit in unit_order:
        for value, u in matches:
            if u == unit:
                return f"{value}{u}"
    return None

df_kjv_events['duration'] = df_kjv_events['duration'].apply(get_largest_duration)

In [551]:
df_kjv_events = df_kjv_events[['title', 
                            'start_year', 
                            'duration',
                            
                            'testament_name',
                            'verse_ref_ls_ls'
                            ]]

In [552]:
print(df_kjv_events)

                               title  start_year duration testament_name  \
0             Creation of all things       -4003       6D  Old Testament
1           Creation of Adam and Eve       -4003       1D  Old Testament
2                           The Fall       -4003       1D  Old Testament
3                   Lifetime of Adam       -4003     930Y  Old Testament
4                    Cain kills Abel       -3874       1D  Old Testament
..                               ...         ...      ...            ...
390  Paul's First Roman imprisonment          60       3Y  New Testament
391         Feeding of Five Thousand          29       1D  New Testament
392             Jesus Walks on Water          29       1D  New Testament
393            Healing in Gennesaret          29       1D  New Testament
394             Bread of Life Sermon          29       1D  New Testament

                                       verse_ref_ls_ls
0    [[Genesis 1:1, Genesis 1:2, Genesis 1:3, Genes...
1    [[Genesis 2:4, Genesis 2:5, Genesis 2:6, Genes...
2    [[Genesis 3:1, Genesis 3:2, Genesis 3:3, Genes...
3            [[Genesis 5:3, Genesis 5:4, Genesis 5:5]]
4    [[Genesis 4:1, Genesis 4:2, Genesis 4:3, Genes...
..                                                 ...
390  [[Acts 28:17, Acts 28:18, Acts 28:19, Acts 28:...
391  [[John 6:1, John 6:2, John 6:3, John 6:4, John...
392  [[John 6:15, John 6:16, John 6:17, John 6:18, ...
393  [[Mark 6:53, Mark 6:54, Mark 6:55, Mark 6:56],...
394  [[John 6:22, John 6:23, John 6:24, John 6:25, ...

[395 rows x 5 columns]

In [553]:
# df_kjv_events.to_csv("../dataset/kjv_events.csv", index=False)

### KJV Cross-References

In [608]:
df_kjv_cross_references = pd.read_csv("../data/kjv_cr.csv")

In [609]:
print(df_kjv_cross_references)

       book_name_source_min  chapter_number_source_min  \
0                   Genesis                          1
1                   Genesis                          1
2                   Genesis                          1
3                   Genesis                          1
4                   Genesis                          1
...                     ...                        ...
344794           Revelation                         22
344795           Revelation                         22
344796           Revelation                         22
344797           Revelation                         22
344798           Revelation                         22

        verse_number_source_min  book_name_source_max  \
0                             1                   NaN
1                             1                   NaN
2                             1                   NaN
3                             1                   NaN
4                             1                   NaN
...                         ...                   ...
344794                       21                   NaN
344795                       21                   NaN
344796                       21                   NaN
344797                       21                   NaN
344798                       21                   NaN

        chapter_number_source_max  verse_number_source_max  \
0                             NaN                      NaN
1                             NaN                      NaN
2                             NaN                      NaN
3                             NaN                      NaN
4                             NaN                      NaN
...                           ...                      ...
344794                        NaN                      NaN
344795                        NaN                      NaN
344796                        NaN                      NaN
344797                        NaN                      NaN
344798                        NaN                      NaN

       book_name_target_min  chapter_number_target_min  \
0                    1 John                          1
1                    Psalms                        134
2                    Psalms                        102
3                    Isaiah                         51
4                 Ephesians                          3
...                     ...                        ...
344794            Ephesians                          6
344795        2 Corinthians                         13
344796      2 Thessalonians                          3
344797               Romans                         16
344798               Romans                          1

        verse_number_target_min book_name_target_max  \
0                             1                  NaN
1                             3                  NaN
2                            25                  NaN
3                            16                  NaN
4                             9                  NaN
...                         ...                  ...
344794                       23            Ephesians
344795                       14                  NaN
344796                       18                  NaN
344797                       20                  NaN
344798                        7                  NaN

        chapter_number_target_max  verse_number_target_max
0                             NaN                      NaN
1                             NaN                      NaN
2                             NaN                      NaN
3                             NaN                      NaN
4                             NaN                      NaN
...                           ...                      ...
344794                        6.0                     24.0
344795                        NaN                      NaN
344796                        NaN                      NaN
344797                        NaN                      NaN
344798                        NaN                      NaN

[344799 rows x 12 columns]

In [610]:
def format_book_name_source(row):
    chapter_min = int(row["chapter_number_source_min"]) if not pd.isna(row["chapter_number_source_min"]) else row["chapter_number_source_min"]
    verse_min = int(row["verse_number_source_min"]) if not pd.isna(row["verse_number_source_min"]) else row["verse_number_source_min"]
    
    if pd.isna(row["book_name_source_max"]):
        return f"{row['book_name_source_min']} {chapter_min}:{verse_min}"

    chapter_max = int(row["chapter_number_source_max"]) if not pd.isna(row["chapter_number_source_max"]) else row["chapter_number_source_max"]
    verse_max = int(row["verse_number_source_max"]) if not pd.isna(row["verse_number_source_max"]) else row["verse_number_source_max"]
    
    return f"{row['book_name_source_min']} {chapter_min}:{verse_min} - {row['book_name_source_max']} {chapter_max}:{verse_max}"



df_kjv_cross_references["verse_ref_source"] = df_kjv_cross_references.apply(format_book_name_source, axis=1)

In [611]:
def format_book_name_target(row):
    chapter_min = int(row["chapter_number_target_min"]) if not pd.isna(row["chapter_number_target_min"]) else row["chapter_number_target_min"]
    verse_min = int(row["verse_number_target_min"]) if not pd.isna(row["verse_number_target_min"]) else row["verse_number_target_min"]
    
    if pd.isna(row["book_name_target_max"]):
        return f"{row['book_name_target_min']} {chapter_min}:{verse_min}"

    chapter_max = int(row["chapter_number_target_max"]) if not pd.isna(row["chapter_number_target_max"]) else row["chapter_number_target_max"]
    verse_max = int(row["verse_number_target_max"]) if not pd.isna(row["verse_number_target_max"]) else row["verse_number_target_max"]
    
    return f"{row['book_name_target_min']} {chapter_min}:{verse_min} - {row['book_name_target_max']} {chapter_max}:{verse_max}"



df_kjv_cross_references["verse_ref_target"] = df_kjv_cross_references.apply(format_book_name_target, axis=1)

In [612]:
df_kjv_cross_references.drop(columns=["book_name_source_min", 
                                    "chapter_number_source_min", 
                                    "verse_number_source_min",

                                    "book_name_source_max", 
                                    "chapter_number_source_max", 
                                    "verse_number_source_max",
                                     
                                    "book_name_target_min", 
                                    "chapter_number_target_min", 
                                    "verse_number_target_min",
                                     
                                    "book_name_target_max", 
                                    "chapter_number_target_max", 
                                    "verse_number_target_max"], inplace=True)

In [613]:
verse_to_index = {verse: idx for idx, verse in enumerate(df_kjv['verse_ref'])}

In [614]:
verse_to_testament = {verse: testament for verse, testament in zip(df_kjv['verse_ref'], df_kjv['testament_name'])}

In [ ]:
def get_verses_from_range(verse_range):
    """
    Given a range string such as "Genesis 50:25 - Exodus 1:2",
    return a list of all verse references from the start verse to the end verse (inclusive).
    """
    verse_range = verse_range.strip()
    parts = verse_range.split('-')
    if len(parts) != 2:
        return [verse_range]
    
    start_str = parts[0].strip()
    end_str = parts[1].strip()
    
    pattern = r"^(\d*\s*\D+?)\s+(\d+):(\d+)$"
    m_start = re.match(pattern, start_str)
    m_end = re.match(pattern, end_str)
    if not m_start or not m_end:
        # print(start_str, end_str)
        return [verse_range]
    
    start_book    = m_start.group(1).strip()
    start_chapter = m_start.group(2)
    start_verse   = m_start.group(3)
    
    end_book      = m_end.group(1).strip()
    end_chapter   = m_end.group(2)
    end_verse     = m_end.group(3)
    
    start_ref = f"{start_book} {start_chapter}:{start_verse}"
    if start_ref == "3 John 1:15":
        start_ref = "3 John 1:14"
        
    end_ref   = f"{end_book} {end_chapter}:{end_verse}"
    if end_ref == "3 John 1:15":
        end_ref = "3 John 1:14"
    
    if start_ref not in verse_to_index or end_ref not in verse_to_index:
        # print(m_start, m_end)
        # print(start_book, end_book)
        # print(start_ref)
        # print(end_ref)
        return [verse_range]
    
    start_idx = verse_to_index[start_ref]
    end_idx   = verse_to_index[end_ref]
    
    if start_idx > end_idx:
        start_idx, end_idx = end_idx, start_idx
    
    verses = df_kjv.loc[start_idx:end_idx, 'verse_ref'].tolist()
    return verses



def get_verse_list(verse_str):
    """
    Given a verse reference string (either a single verse like "Genesis 1:1"
    or a range such as "Genesis 50:25 - Exodus 1:2"),
    return a list of verse references.
      - If no '-' is present, returns a single–element list.
      - If a '-' is present, returns the list of all verses in the range.
    """
    if '-' in verse_str:
        return get_verses_from_range(verse_str)
    else:
        return [verse_str.strip()]



def get_testament_from_verse_list(verse_list):
    """
    Given a list of verse references, return the testament name for the
    first (i.e. minimum) verse in that list.
    """
    if verse_list:
        first_verse = verse_list[0]
        return verse_to_testament.get(first_verse, None)
    return None



df_kjv_cross_references['verse_ref_source_ls'] = df_kjv_cross_references['verse_ref_source'].apply(get_verse_list)
df_kjv_cross_references['verse_ref_target_ls'] = df_kjv_cross_references['verse_ref_target'].apply(get_verse_list)

df_kjv_cross_references['testament_name_source'] = df_kjv_cross_references['verse_ref_source_ls'].apply(get_testament_from_verse_list)
df_kjv_cross_references['testament_name_target'] = df_kjv_cross_references['verse_ref_target_ls'].apply(get_testament_from_verse_list)

In [618]:
print(df_kjv_cross_references[df_kjv_cross_references["verse_ref_source_ls"].apply(lambda x: len(x) > 1)])

Empty DataFrame
Columns: [verse_ref_source, verse_ref_target, verse_ref_source_ls, verse_ref_target_ls, testament_name_source, testament_name_target]
Index: []

In [619]:
print(df_kjv_cross_references[df_kjv_cross_references["verse_ref_target_ls"].apply(lambda x: len(x) > 1)])

        verse_ref_source                   verse_ref_target  \
13           Genesis 1:1  Colossians 1:16 - Colossians 1:17
32           Genesis 1:1        Psalms 148:4 - Psalms 148:5
41           Genesis 1:1                John 1:1 - John 1:3
48           Genesis 1:1        Psalms 89:11 - Psalms 89:12
54           Genesis 1:1          Romans 1:19 - Romans 1:20
...                  ...                                ...
344769  Revelation 22:19  Revelation 2:17 - Revelation 2:18
344773  Revelation 22:19    Revelation 3:4 - Revelation 3:5
344778  Revelation 22:19   Revelation 7:9 - Revelation 7:17
344782  Revelation 22:20        2 Peter 3:12 - 2 Peter 3:14
344794  Revelation 22:21    Ephesians 6:23 - Ephesians 6:24

       verse_ref_source_ls                                verse_ref_target_ls  \
13           [Genesis 1:1]                 [Colossians 1:16, Colossians 1:17]
32           [Genesis 1:1]                       [Psalms 148:4, Psalms 148:5]
41           [Genesis 1:1]                     [John 1:1, John 1:2, John 1:3]
48           [Genesis 1:1]                       [Psalms 89:11, Psalms 89:12]
54           [Genesis 1:1]                         [Romans 1:19, Romans 1:20]
...                    ...                                                ...
344769  [Revelation 22:19]                 [Revelation 2:17, Revelation 2:18]
344773  [Revelation 22:19]                   [Revelation 3:4, Revelation 3:5]
344778  [Revelation 22:19]  [Revelation 7:9, Revelation 7:10, Revelation 7...
344782  [Revelation 22:20]         [2 Peter 3:12, 2 Peter 3:13, 2 Peter 3:14]
344794  [Revelation 22:21]                   [Ephesians 6:23, Ephesians 6:24]

       testament_name_source testament_name_target
13             Old Testament         New Testament
32             Old Testament         Old Testament
41             Old Testament         New Testament
48             Old Testament         Old Testament
54             Old Testament         New Testament
...                      ...                   ...
344769         New Testament         New Testament
344773         New Testament         New Testament
344778         New Testament         New Testament
344782         New Testament         New Testament
344794         New Testament         New Testament

[88150 rows x 6 columns]

In [620]:
df_kjv_cross_references = df_kjv_cross_references[["testament_name_source", 
                                                "verse_ref_source_ls",
                                                "testament_name_target", 
                                                "verse_ref_target_ls"]]

In [621]:
print(df_kjv_cross_references)

       testament_name_source verse_ref_source_ls testament_name_target  \
0              Old Testament       [Genesis 1:1]         New Testament
1              Old Testament       [Genesis 1:1]         Old Testament
2              Old Testament       [Genesis 1:1]         Old Testament
3              Old Testament       [Genesis 1:1]         Old Testament
4              Old Testament       [Genesis 1:1]         New Testament
...                      ...                 ...                   ...
344794         New Testament  [Revelation 22:21]         New Testament
344795         New Testament  [Revelation 22:21]         New Testament
344796         New Testament  [Revelation 22:21]         New Testament
344797         New Testament  [Revelation 22:21]         New Testament
344798         New Testament  [Revelation 22:21]         New Testament

                     verse_ref_target_ls
0                           [1 John 1:1]
1                         [Psalms 134:3]
2                        [Psalms 102:25]
3                         [Isaiah 51:16]
4                        [Ephesians 3:9]
...                                  ...
344794  [Ephesians 6:23, Ephesians 6:24]
344795             [2 Corinthians 13:14]
344796            [2 Thessalonians 3:18]
344797                    [Romans 16:20]
344798                      [Romans 1:7]

[344799 rows x 4 columns]

In [624]:
# df_kjv_cross_references.to_csv("../dataset/kjv_cross_references.csv", index=False)